# Default ignored files
/shelf/
/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Ignorar arquivos do IntelliJ IDEA
.idea/
*.iml
# Ignorar arquivos de build (compilados)
out/